* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(./images/background2.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container {
    position: absolute;
    top: 3%;
    width: 85%; 
    height: 80%; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/background1.png'); 
    background-size: cover;
    background-position: center;
    filter: blur(2px); 
}

.content {
    position: relative;
    z-index: 1; 
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    position: absolute; 
    top: 0;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header button{
    width: 46px;
    height: 46px;
    color:  rgb(157, 243, 145);
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    margin-left: 5px;
    background-color: rgb(11, 118, 29);
}

.search{
    margin-left: 10px;
    width: 80%;
    padding: 12px 16px;
    font-size: 20px;
    border-radius: 14px;
    color:  white;
    background-color: rgb(10, 106, 26)
}

button:hover{
    background-color: rgb(12, 77, 39);
    color: white;
}
.search:hover{
    background-color: rgb(12, 77, 39);
}

::placeholder{
    color: rgb(157, 243, 145);
}

.weather_container{
    height: 100%;
    margin-top: 5%;
    display: grid;
    gap: 20px;
    grid-template-rows: auto auto auto auto auto;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
}

.range{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 60px;
}

.weather_image img{
    width: 100px;
    height: 100px;
}

.Humidity h3{
    margin-top: 15px;
    color: blue
}

.WindSpeed h3{
    margin-top: 15px;
    color: orangered;
}

.pre_temp h2{
    font-size: 3rem;
}

.city h1{
    margin-bottom: 10%;
    margin-top: 10%;
    font-size: 3rem;
}


@media only screen and (max-width: 767px) {
    .container{
        width: 85%;
    }
  }
  
  
  @media only screen and (min-width: 768px) {
     .container{
        width: 40%;
     }
  }
  
  @media only screen and (max-height: 650px) {
    .container {
        height: 600px; /* Set a fixed height for the container */
        width: 500px;
        overflow-y: scroll; /* Enable vertical scrolling */
    }
}



